#case-container {
    padding-left: 70px;
    padding-right: 70px;
}

#add-case-row {
    margin-bottom: 1.5em;
}

#case-table {
    font-size: 14px;
}

#case-table th {
    font-size: 16px;
    text-align: center;
}

#case-table td {
    vertical-align: middle;
}

button.cancel {
    width: 123.033px;
    color: #666;
    background-color: #fff !important;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4) !important;
}