<template name="resetPasswordForm">
	<div class="row">
		<div class="col-xs-offset-3 col-xs-6">
			<h3 class="text-center" id="reset-password-header">Reset Password</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-offset-3 col-xs-6">
			<form class="form-horizontal center-block" id="reset-password-form">
				<div class="form-group">
					<div class="col-xs-12">
						<input type="password" class="form-control" name="new-password" placeholder="New Password" id="reset-password">
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-xs-12">
						<input type="password" class="form-control" name="confirm-new-password" placeholder="Confirm Password" id="reset-confirm-password">
					</div>
				</div>

				<div class="form-group">
					<div class="col-xs-offset-4 col-xs-4">
						<button type="submit" class="btn btn-primary center-block reset-password-form-button">Reset Password!</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</template>