<!-- Author: Peter -->

<template name="unsubscribeForm">
	<div class="row">
		<div class="col-xs-offset-1 col-xs-10">
			<h2 class="text-center" id="unsubscribe-header">Confirm Unsubscription</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-offset-3 col-xs-6">
			<h5 class="text-center">
				Are you sure you want to be unsubscribed from our mailing list?
			</h5>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-offset-3 col-xs-3">
			<button type="submit" class="btn btn-primary center-block" id="unsubscribeButton">Yes, unsubscribe me!</button>
		</div>

		<div class="col-xs-3">
			<button type="submit" class="btn btn-danger center-block" id="cancelUnsubscribeButton">No!</button>
		</div>
	</div>
</template>